@page
@model SimplestWebDemo.Pages.CrudModel
@{
    //Layout = null;
    ViewData["Title"] = "Create Retrieve Update Delete";

}

<h1>@ViewData["Title"]</h1>
<p> Forms for actions @Model.Message </p>
<form method="post">
    <input type="text" name="name" />
    <input type="submit" name="submit" value="Submit create" />
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var item in Model.Entries)
        {
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
                <td>
                    <a asp-page="./Item/Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Item/Delete" asp-route-id="@item.ID">Delete</a>
                </td>
                @{i++; }
            </tr>
        }
    </tbody>
</table>
